# Virtual environment
venv310/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables (if you add .env later)
.env

# IDE/Editor folders (e.g., VS Code, PyCharm)
.vscode/
.idea/