body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
}

input {
    padding: 8px;
    width: 60%;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#predictionResult {
    margin-top: 15px;
}
